*.o
*.so
.directory
simulations
RcomputeResources.R
RgenericAll.R

misc
debugging
haplotypecpp/CMakeCache.txt
haplotypecpp/Makefile
haplotypecpp/cmake_install.cmake
haplotypecpp/CMakeFiles/
data
dataAnalysisExp.R
